.hits
	&-navigation
		display flex
		align-items center
		&__item
			flex 1
			margin-right 30px
			border-bottom 2px solid alto
			height 50px
			line-height 48px
			text-align center
			&:last-child
				margin-right 0
			&.tabs-navigation__item--active
				border-bottom-color: blaze-orange
	&__body
		padding-top 20px			