// Шапка
@import 'header/header.styl'

// Футера
@import 'footer/footer.styl'

// Навигация
@import 'navigation/navigation.styl'

//Кнопки
@import "buttons/buttons.styl"

//Заголовки
@import "titles/titles.styl"

//Поиск
@import "search/search.styl"

//слайдер
@import "banner/banner.styl"

//кнопки
@import "buttons/buttons.styl"

//малые блоки
@import "small-blocks/small-blocks.styl"

//малые блоки
@import "small-blocks/preloader.styl"

//Табы
@import "tabs/tabs.styl"

//Табы
@import "product/product"

//секция информация
@import "informations/informations.styl"