.btn
	height 40px	
	border 1px	solid blaze-orange
	border-radius 4px	
	line-height 38px
	font-size 14px
	color blaze-orange
	font-weight 600	 
	background-color: white
	padding 0 20px
	display block	
	text-align center
	outline none	
	transition .3s all 	linear
	&.btn
		&--transparent
			&-white
				color white
				background-color transparent
				border-color: white
				&:hover
					background-color white
					color tundora
		&--round
			border-radius 20px
		&--inline
			display inline-block	