.products-line-slider
	.js-products-line-slider
		include ../../../modules/products/prev1
		include ../../../modules/products/prev2
		include ../../../modules/products/prev3
		include ../../../modules/products/prev1