.main-nav
	&__list
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		position relative
	&__item
		margin-right 40px
		&:last-child
			margin-right 0
		&:hover
			.main-nav
				&__link
					border-bottom 2px solid blaze-orange
				&__dropdown
					&-wrapper
						display: block	
	&__link
		display flex
		padding 15px 0
		font-size 16px
		color tundora
		line-height 1.88
		font-weight 600
		border-bottom: 2px solid transparent
		flex-wrap nowrap
		align-items center
		&-icon
			width 12px
			height 12px
			transform rotate(90deg)
			margin-left 10px
			fill tundora
	&__dropdown
		left 0
		display: inline-flex
		background-color #fff
		padding-top 10px
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.05);
		&-wrapper
			display: none
			position: absolute
			top 100%
			z-index 5
		&__list
			width 360px
		&__link
			color main-shaft
			display: flex
			align-items center
			padding: 10px
			line-height 20px 
			&:hover
				background-color: athens-gray
				color blaze-orange
				.main-nav__dropdown__icon
					fill blaze-orange
		&__icon
			height 12px
			width 12px
			margin-left: auto
			frll silver		
.main-subnav
	&__list
		position: relative
		.main-subnav__list
			position: absolute
			top 0
			left 360px
			display: none
	&__item
		width 360px
		&:hover
			background-color: athens-gray
			color blaze-orange
			.main-subnav__icon
				fill blaze-orange
			.main-subnav__list
				display block	
	&__link
		color main-shaft
		display: flex
		align-items center
		padding: 10px
		line-height 20px 
		&:hover
			& > .main-subnav
				&__link
					background-color: athens-gray
				&__text	
					color blaze-orange
				&__icon
					fill blaze-orange			
	&__icon
		height 12px
		width 12px
		margin-left: auto
		frll silver






