section.s-advantages
	.container
		.advantages
			.advantages__item
				+icon('garanty','advantages__icon')
				.advantages__body
					.advantages__title Гарантия
					.advantages__descr качества всех товаров
			.advantages__item
				+icon('delivery','advantages__icon')
				.advantages__body
					.advantages__title Доставка
					.advantages__descr по Москве и области
			.advantages__item
				+icon('pay','advantages__icon')
				.advantages__body
					.advantages__title Оплата
					.advantages__descr онлайн и наличными