section.s-information.s-light-bg
	.container
		.information
			.information-item
				.information-item__header
					h2.title-section Новости
				.information-item__body
					.news-prev__wrapper
						a(href="#").news-prev
							.news-prev__img(style="background-image:url('static/img/content/news/news-1/prev.jpg')")
							.news-prev__body
								span.news-prev__title Выставка из Германии
								span.news-prev__date 13.11.2018
						a(href="#").news-prev
							.news-prev__img(style="background-image:url('static/img/content/news/news-2/prev.jpg')")
							.news-prev__body
								span.news-prev__title Новинки в нашем магазине
								span.news-prev__date 1.11.2018
				.information-item__footer
					a(href="#").information-item__link Все новости


			.information-item
				.information-item__header
					h2.title-section Отзывы
				.information-item__body
					.review-prev
						p.review-prev__text Купил у вас в середине лета велосипеды для себя, жены и дочери. Понравился ваш выбор и цены. Мне все велосипеды обошлись не очень дорого. Катаемся на них постоянно, ни один пока что не поломался. И доставка у вас очень быстрая, приятно.
						span.review-prev__author Антон
				.information-item__footer
					a(href="#").information-item__link Все отзывы


			.information-item
				.information-item__header
					h2.title-section Бренды
				.information-item__body
					.brands__wrapper
						ul.brands__list.brands__list--small
							each brand in [{img:'puky',name:'PUKY'},{img:'hudora',name:'Hudora'},{img:'micro',name:'Micro'},{img:'stiga',name:'Stiga'},{img:'micro',name:'Micro'},{img:'hudora',name:'Hudora'}]
								li.brands__item
									a(href="#").brands
										.brands__img
											img(src=`static/img/content/brands/${brand.img}.png`)
										span.brand__name=brand.name
				.information-item__footer
					a(href="#").information-item__link Все бренды
					span.information-item__count  (9)

			//- .information__item
			//- 	h2.title-section Отзывы
			//- 	.review-prev
			//- .information__item
			//- 	h2.title-section Бренды
			//- 	.brands__wrapper
