.main-nav__dropdown-wrapper
	.main-nav__dropdown
		ul.main-subnav__list
			li.main-subnav__item
				a(href="#").main-subnav__link 
					span.main-subnav__text Взрослые самокаты
					+icon('chevron-right','main-subnav__icon')
				ul.main-subnav__list
					li.main-subnav__item
						a(href="#").main-subnav__link 
							span.main-subnav__text Двухколесные самокаты
					li.main-subnav__item
						a(href="#").main-subnav__link 
							span.main-subnav__text Трехколесные самокаты
					li.main-subnav__item
						a(href="#").main-subnav__link 
							span.main-subnav__text Самокаты с большими колесами
					li.main-subnav__item
						a(href="#").main-subnav__link 
							span.main-subnav__text Самокаты с надувными колесами
			li.main-subnav__item
				a(href="#").main-subnav__link 
					span.main-subnav__text Детские самокаты
					+icon('chevron-right','main-subnav__icon')
				ul.main-subnav__list
					li.main-subnav__item
						a(href="#").main-subnav__link 
							span.main-subnav__text Двухколесные самокаты
					li.main-subnav__item
						a(href="#").main-subnav__link 
							span.main-subnav__text Трехколесные самокаты
					li.main-subnav__item
						a(href="#").main-subnav__link 
							span.main-subnav__text Детские самокаты с большими колесами
					li.main-subnav__item
						a(href="#").main-subnav__link 
							span.main-subnav__text Детские самокаты с надувными колесами
					li.main-subnav__item
						a(href="#").main-subnav__link 
							span.main-subnav__text Детские самокаты с надувными колесами
					li.main-subnav__item
						a(href="#").main-subnav__link 
							span.main-subnav__text Детские самокаты с надувными колесами
					li.main-subnav__item
						a(href="#").main-subnav__link 
							span.main-subnav__text Детские самокаты с надувными колесами
			li.main-subnav__item
				a(href="#").main-subnav__link 
					span.main-subnav__text Городские самокаты
			li.main-subnav__item
				a(href="#").main-subnav__link 
					span.main-subnav__text Складные самокаты
			li.main-subnav__item
				a(href="#").main-subnav__link 
					span.main-subnav__text Трюковые самокаты
					+icon('chevron-right','main-subnav__icon')
				ul.main-subnav__list
					li.main-subnav__item
						a(href="#").main-subnav__link 
							span.main-subnav__text Micro
					li.main-subnav__item
						a(href="#").main-subnav__link 
							span.main-subnav__text Hudora
					li.main-subnav__item
						a(href="#").main-subnav__link 
							span.main-subnav__text Glober
					li.main-subnav__item
						a(href="#").main-subnav__link 
							span.main-subnav__text BMX
			li.main-subnav__item
				a(href="#").main-subnav__link 
					span.main-subnav__text Электросамокаты
					+icon('chevron-right','main-subnav__icon')
				ul.main-subnav__list
					li.main-subnav__item
						a(href="#").main-subnav__link 
							span.main-subnav__text Glober
					li.main-subnav__item
						a(href="#").main-subnav__link 
							span.main-subnav__text Micro
			li.main-subnav__item
				a(href="#").main-subnav__link 
					span.main-subnav__text Самокаты с двумя амортизаторами

















