footer
  flex 0 0 auto
.footer
	&__socials
		.container
			display flex	
			align-items center	
	&__bottom 
	  background-color: rgba(0, 0, 0, 0.05);
	  padding: 20px 0;
	  .container
	  	display -webkit-flex
	  	display -moz-flex
	  	display -ms-flex
	  	display -o-flex
	  	display flex	
	  	justify-content space-between	
	  	align-items center	
  &__personal-data
  	color oslo-gray	
