.news-prev
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	align-items flex-start
	color: main-shaft
	margin-bottom 40px
	&:last-child
		margin-bottom 0
	&__img
		height 80px
		width 80px
		background-repeat no-repeat
		background-size cover
		border-radius 4px
		margin-right 20px
		flex-shrink 0
	&__title
		display block
		margin-bottom 10px
	&__date
		color oslo-gray
		font-size 12px
		