.product-prev
	.product-prev__header
		.js-product-prev__slider
			.product-prev__img-wrap(data-color='#000000')
				img(src="static/img/content/products/product2/product21.jpg" alt="Фото товара" data-color='#000000').product-prev__img 
			.product-prev__img-wrap(data-color='#ffffff')
				img(src="static/img/content/products/product2/product21.jpg" alt="Фото товара" data-color='#ffffff').product-prev__img 
			.product-prev__img-wrap(data-color='#cccccc')
				img(src="static/img/content/products/product2/product21.jpg" alt="Фото товара" data-color='#cccccc').product-prev__img 
	.product-prev__body
		.product-prev__info
			span.product-prev__title Беговел Puky
			span.product-prev__country Германия
		.product-prev__price
			span.product-prev__price-current 17990 руб.
		.product-prev__colors
	.product-prev__footer
		button.btn В корзину