.product-prev
	.product-prev__header
		.js-product-prev__slider
			.product-prev__img-wrap(data-color='#ff5ec9') 
				img(src="static/img/content/products/product1/product1black.jpg" alt="Фото товара" data-color='#ff5ec9').product-prev__img
			.product-prev__img-wrap(data-color='#7ed321')  
				img(src="static/img/content/products/product1/product1black.jpg" alt="Фото товара" data-color='#ff5ec9').product-prev__img
			.product-prev__img-wrap(data-color='#f5a623')  
				img(src="static/img/content/products/product1/product1black.jpg" alt="Фото товара" data-color='#ff5ec9').product-prev__img
	.product-prev__body
		.product-prev__info
			span.product-prev__title Беговел Puky
			span.product-prev__country Германия
		.product-prev__price
			span.product-prev__price-current 4990 руб.
			span.product-prev__price-old 3990 руб.
		.product-prev__colors
	.product-prev__footer
		button.btn В корзину